
/*------  COLORES --------*/
/*Purple*/
$color-purple-full: #AA86E0;
$color-purple-light: #D8C8F0;

/*Yellow*/
$color-yellow-full: #d5f46a;
$color-yellow-light: #E5FF89;

/*Blue*/
$color-blue-full: #5C7EBF;
$color-blue-light: #9BB7EC;

/*Gray*/
$color-gray-light: #ccc;
$color-white: #f8f9fa;





